<header>
    <a href="/">
        <img src="/logo.png" alt="purina logo" />
    </a>

    <% if (page === 'FAQ') { %>
        <span>FAQ </span>
    <% } else{ %>
        <span class="full-name">WHERE IS MY PURINA ORDER?</span>
        <span class="short-name">WIMPO?</span>
    <% } %>
    </span>
</header>
