<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h1>404</h1>
            <p>
                OPPS! SORRY WE COULDN'T FIND THAT PAGE.
            </p>
                <button class="btn btn-info" onclick="window.location.replace('/')">Back to Home</button>
        </div>
    </div>
</div>

