/* BASE PAGE STYLES */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #27251F;
  font-family: 'Antenna';
}

html {
  background: transparent;
  height: 100%;
  letter-spacing: 1px;
  text-align: center;
}

body {
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 20%);
  min-height: 100%;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  position: relative;
}

h1 {
  font-weight: 400;
}

main .container {
  padding: 40px 0 6rem;
}

/*header*/
header {
  background: hsl(0, 0%, 100%);
  border-bottom: 4px solid hsl(0, 0%, 60%);
  border-top: 20px solid hsl(0, 0%, 0%);
}

header span {
  font-size: 30px;
  line-height: 30px;
  margin: 30px 0;
  display: inline-block;
}

header span {
  line-height: 30px;
  margin: 30px 0;
  display: inline-block;
}

header .short-name {
  display: none;
}

@media screen and (min-width: 1000px) {
  header .full-name {
    font-size: 30px;
  }
}

@media screen and (max-width: 999px) and (min-width: 768px){
  header .full-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px){
  header .full-name {
    display: none;
  }
  header .short-name {
    display: block;
  }
}

header img {
  border-style: none;
  position: absolute;
  left: 80px;
  top: 50px;
  height: 30px;
}

@media screen and (max-width: 648px){
  header span {
    font-size: 16px;
  }
  header img {
    left: 8px
  }
}

/*footer*/
footer {
  bottom: 30px;
  font-size: 12px;
  left: 0;
  letter-spacing: 2px;
  padding: 14px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

/*general button and link cross pages*/
a,
a:visited,
a:hover,
a:active,
a:focus {
  color: #1C59F6;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:focus,
button:focus,
details:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
  -webkit-box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  outline: none;
  cursor: pointer;
  color: #27251F;
}

/*home page */
label {
  text-transform: uppercase;
  font-size: 14px;
}

input.form-control {
  background:#D9D9D9
}

.error-message {
  color: #ED2232;
  margin-top: 15px;
}

.g-recaptcha {
  display: inline-block;
  margin: 66px 0 36px;
}

/*tracking result*/
.container h2 {
  margin: 20vh 3vw;
  text-transform: capitalize;
}

table {
  display: inline-table;
  width: 100%;
  padding: 20px;
  margin-top: 36px;
}

tr {
  line-height: 40px;
  text-align: left;
}

th {
  text-transform: uppercase;
}

td a {
  font-size: 22px;
  color: hsl(0, 0%, 30%);
}

.form-group {
  line-height: 60px;
}

button {
  background: #ABD3F9;
  border: none;
  font-size: 14px;
  border-radius:5px;
  padding: 10px 20px;
  cursor: pointer;
  color: #000 !important;
  text-transform: uppercase;
}

button:hover {
  background: #1C59F6;
}

.center {
  text-align: center;
}

/* FAQ styles */
div#faq-box {
  margin: 0 15px;
}

#faq-box p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}

.faq-title {
  color: #ED2232;
  margin-top: 52px;
}

.faq-content {
  padding-left: 20px
}

/*404 page if with background*/
/*#page-not-found {
  background-image: url("/404.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
}*/

#page-not-found .container {
  margin-top: 20vh;
}

#page-not-found h1 {
  margin-top: 30px;
  font-size: 46px;
  font-weight: 600;
}

#page-not-found p {
  margin-bottom: 30px
}

#page-not-found .row {
  margin: 0;
}
