<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>404</h1>
            <p>
                OPPS! SORRY WE COULDN'T FIND THAT PAGE.
            </p>
            <button onclick="window.location.replace('/')">BACK TO HOME</button>
        </div>
    </div>
</div>

