<div class="container">
    <table>
    <tr>
        <td>
            <a> How will it take for me to get my order?</a>
        </td>
        <td>
            <a>Please allow 5-6 days for shipment of order...</a>
        </td>
    </tr>
    <tr>
        <td>
            <a> Who can I contact if I have a questions?</a>
        </td>
        <td>
            <a>Please Email customerservice@purina.com</a>
        </td>
    </tr>
    <tr>
        <td><a>xxx</a></td>
        <td><a>xxx</a></td>
    </tr>
</table>
</div>