<div class="container">
        <% if (data && data.length > 0) { %>
                <div id="faq-box">
                        <% for(var i=0; i< data.length; i++) {%>
                                <p class="faq-title">Q.  <%= data[i]['question'] %> </p>
                                <p class="faq-content">A.  <%= data[i]['answer'] %></p>
                        <% } %>
                </div>
        <% } %>
</div>
