<div class="container">
    <form method="post" id="wimpo-form" action="/">
        <div class="row">
            <div class="form-group">
                <label for="order-number" class="col-sm-5 col-md-offset-1 col-sm-12">
                    Please Enter your Purchase order number
                </label>
                <div class="col-md-4 col-sm-12">
                    <input type="text" class="form-control" name="order-number" value="<%=data['formData'] && data['formData'] ? data['formData']['order-number']: '' %>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="zipcode" class="col-sm-5 col-md-offset-1 col-sm-12">
                    Shipping zip code
                </label>
                <div class="col-md-4 col-sm-12">
                    <input type="text" id="zipcode" class="form-control" name="zipcode" value="<%=data['formData'] && data['formData'] ? data['formData']['zipcode']: '' %>">
                </div>
            </div>
        </div>
        <div class="row">
            <button class="g-recaptcha"
                    data-sitekey="<%= data['siteKey'] %>"
                    data-callback='onSubmit'
                    data-action='submit' type="submit">
                Submit
            </button>
        </div>
        <% if (data['errorMessage']) { %>
        <div class="row">
            <p class="error-message">
                <%= data['errorMessage'] %>
            </p>
        </div>
        <% } %>
    </form>
</div>

<script>
    function onSubmit(token) {
        console.log('recaptcha token: ' + token);
        document.getElementById("wimpo-form").submit();
    }
</script>
